<!DOCTYPE html>
<html>
    <head>
        <title>ASP.NET Razor Example</title>
    </head>
    <body>
        <h1>Welcome to my ASP.NET Razor Example!</h1>

        <% string message = "Hello World"; %>

        <p><%=@message%></p>
    </body>
</html>
